/* Generel styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f6f6f6, #fcfcfc);
    height: 100vh;
    margin: 0;
}

#app {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sidebar {
    height: 100%;
    padding-top: 1rem;
    flex: 0 0 200px; /* Fast bredde på 200px */
    background: rgba(255, 255, 255, 0.9);
    border-right: 1px solid #ddd;
    margin-right: 1rem; /* Tilføj lidt mellemrum til højre */
}

.main-content {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    flex: 1; /* Fylder al ledig plads */
    overflow-y: auto; /* Rullefelt til indhold */
}

h1, h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

button {
    padding: 0.5rem 1rem; /* Mindre padding */
    border: none;
    border-radius: 5px; /* Mindre border-radius */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 0.5rem;
    width: 100%;
    max-width: 300px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

button[type="button"] {
    background-color: #6c757d;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button[type="button"]:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Specifik styling for knapperne */
.btn-sm {
    width: 28px; /* Mindre bredde */
    height: 28px; /* Mindre højde */
    padding: 0; /* Fjern indvendig afstand */
    margin: 0 2px; /* Tilføj lidt margin til siderne */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Mindre font-størrelse */
}
.btn-smm {
    width: 80px; /* Mindre bredde */
    height: 34px; /* Mindre højde */
    padding: 0; /* Fjern indvendig afstand */
    margin: 0 2px; /* Tilføj lidt margin til siderne */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Mindre font-størrelse */
}
.btn-sm i {
    margin: 0; /* Fjern margin fra ikon */
}

/* Responsiv styling */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .main-content {
        width: 100%;
        margin: 0;
    }
}
.button-group {
    display: flex;
    justify-content: flex-end; /* Juster knapperne til højre */
    gap: 5px; /* Afstand mellem knapper */
}
